img.avatar {
    margin-top: 30px;
    max-width: 100%;
    max-height: 100%;
}

.profile-info{
    font-size: 18px;
    margin-top: 30px;
}

.center {
    width: 350px;
    height: 350px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -150px;
    margin-top: -150px;
}

.not-found img {
    width: 100%;
}
